Django==5.0
djangorestframework==3.14.0
django-cors-headers==4.3.1
django-ratelimit==4.1.0
psycopg[binary]==3.2.3
python-decouple==3.8
dj-database-url==2.1.0
gunicorn==21.2.0
whitenoise==6.6.0
xmltodict==0.13.0

# Cache com Redis
django-redis==5.4.0
redis==5.0.1

# Ferramentas de Qualidade de Código
flake8==7.1.0
black==24.4.2
