.historico-caixa-page {
  padding: 20px;
}

.historico-caixa-page h2 {
  margin-bottom: 25px;
  color: var(--dark-text);
}

.diferenca-negativa {
  color: var(--danger-color); /* Vermelho */
  font-weight: bold;
}

.diferenca-positiva {
  color: var(--success-color); /* Verde */
  font-weight: bold;
}
